.wrapper {
    height: 100%;
    position: relative;

    .visual-box {
        height: 100%;
    }

    .chat-box {
        display: flex;
        flex-direction: column;
        max-height: 260px;
        position: fixed;
        left: 0;
        bottom: $navbarHeight;
        bottom: calc($navbarHeight + constant(safe-area-inset-bottom));
        bottom: calc($navbarHeight + env(safe-area-inset-bottom));
        border-radius: 0px !important;
    }
}



.info {
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    color: #757575;
}

.conn-state {
    display: flex;
    align-items: center;
    justify-content: center;
}